{% extends 'layout.html' %}
{% block body %}
<br>
Error: invalid entry
<br>
Review: {{ review.Review_title }}
<br>
<form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.Review_title.label }} {{ form.Review_title }}
        <br>
        {{ form.Reviewer_name.label }} {{ form.Reviewer_name }}
        <br>
        {{ form.Review_password.label }} {{ form.Review_password}}
        <br>
        {{ form.Review.label }} {{ form.Review }}
        <br>
        {{ form.Rating.label }} {{ form.Rating }}
        <br>
        {{ form.submit }}
    {{ message }}
    </form>

{% endblock body %}