{% extends 'layout.html' %}
{% block body %}

<h2>A</h2>
{% for game in all_games %}
    {% if game.Title.startswith("A") or game.Title.startswith("a")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>B</h2>
{% for game in all_games %}
    {% if game.Title.startswith("B") or game.Title.startswith("b")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>C</h2>
{% for game in all_games %}
    {% if game.Title.startswith("C") or game.Title.startswith("c")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>D</h2>
{% for game in all_games %}
    {% if game.Title.startswith("D") or game.Title.startswith("d")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>E</h2>
{% for game in all_games %}
    {% if game.Title.startswith("E") or game.Title.startswith("e")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>F</h2>
{% for game in all_games %}
    {% if game.Title.startswith("F") or game.Title.startswith("f")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>G</h2>
{% for game in all_games %}
    {% if game.Title.startswith("G") or game.Title.startswith("g")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>H</h2>
{% for game in all_games %}
    {% if game.Title.startswith("H") or game.Title.startswith("h")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>I</h2>
{% for game in all_games %}
    {% if game.Title.startswith("I") or game.Title.startswith("i")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>J</h2>
{% for game in all_games %}
    {% if game.Title.startswith("J") or game.Title.startswith("j")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>K</h2>
{% for game in all_games %}
    {% if game.Title.startswith("K") or game.Title.startswith("k")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>L</h2>
{% for game in all_games %}
    {% if game.Title.startswith("L") or game.Title.startswith("l")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>M</h2>
{% for game in all_games %}
    {% if game.Title.startswith("M") or game.Title.startswith("m")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}

<h2>N</h2>
{% for game in all_games %}
    {% if game.Title.startswith("N") or game.Title.startswith("n")  %}

        {{ game.Title }}
        <form action="{{ url_for('game', Title=game.Title) }}">
            <input type=submit value="View game">
    </form>
        <br>
    {% endif %}
{% endfor %}
{% endblock body %}
