{% extends 'layout.html' %}
{% block body %}
<br>
   <h2> Release date:  {{ game.Release_date }} </h2>
   <br>
    <h2> Genre: {{ game.Genre }} </h2>
   <br>
    <h2> Age rating: {{ game.Age_rating }} </h2>
   <br>
    <h2> Description: {{ game.Description }} </h2>
    <form action="{{ url_for('review', Title=game.Title) }}">
      <input type=submit value="Create review">
   </form>
   <br>
  <h2> Overall review score: {{all_ratings}} </h2>

   <h1> Reviews</h1>

   {% for review in game.reviews %}
__________________________________________________________________________________________
      <h3> {{ review.Review_title }}</h3>
        <h4>{{ review.Reviewer_name }} -{{ review.Date }} </h4>           
       <h4>Rating:{{ review.Rating }}/10 </h4>
        {{ review.Review }}
      
        <form action="{{ url_for('edit', number=review.Review_ID) }}">
         <input type=submit value="Delete review">
      </form>
      <form action="{{ url_for('update', number=review.Review_ID) }}">
         <input type=submit value="Edit review">
      </form>
{% endfor %}




{% endblock body %}

